@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
     font-family: "Roboto", sans-serif;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
}



header {
    background-color: var(--header-background, #000);
    padding: 1rem 2rem;
    position: relative;
    z-index: 10;
    transition: background-color 0.5s ease-in-out;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 2rem;
}




.item {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: var(--background);
}

.item.active {
    display: block;
}

.item .title {
    font-size: 12rem;
    color: #FFFFFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans;
    text-align: center;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.item .fruit {
    width: 90%;
    position: absolute;
    top: 0;
    z-index: 3; 
}

.item .refri {
    z-index: 2;
    width: 600px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#prev, #next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: #eee9;
    border: 1px solid #eee9;
    color: #eee;
    font-size: x-large;
    font-family: monospace;
    cursor: pointer;
    z-index: 4;
    border-radius: 50%;
}

#prev {
    left: 30px;
}

#next {
    right: 30px;
}

@keyframes toActive {
    from {
        top: 100%;
        opacity: 0;
    }
}

.item.active img.fruit {
    animation: toActive 0.7s ease-in-out 1;
}

.item.active .title {
    animation: toActive 0.7s ease-in-out 1;
}

